@charset "utf-8";
$uicss {
  flex: 0 0 228px;
  border: 1px solid #CDE6FF;
}
$uicss $uicss-ul {
  padding: 0;
  margin: 0;
  padding-left: 28px;
}
$uicss $uicss-ul > li {
  list-style: none;
}
$uicss $uicss-ul > li a {
  font-size: 18px;
  color: $titlecolor$;
  letter-spacing: 0.5px;
  position: relative;
}
$uicss $uicss-ul > li a::before {
  position: absolute;
  top: 3px;
  left: -11px;
  content: '';
  width: 4px;
  height: 19px;
  background: transparent;
}
$uicss $uicss-ul > li a.active {
  color: $activecolor$;
}
$uicss $uicss-ul > li a.active::before {
  background: $activecolor$;
}
$uicss $uicss-ul > li.sub-title a {
  font-size: 14px;
  color: #8C8C8C;
  letter-spacing: 0.39px;
  padding-left: 22px;
}
$uicss $uicss-ul > li.sub-title a.active {
  color: $activecolor$;
}
$uicss $uicss-ul > li.sub-title a.active::before {
  background: transparent;
}
