$uicss.met-download {
    padding: 30px 0px;
    background:$bodybgcolor$;
    border-top: 1px solid #f0f2f5;
}
$uicss.met-download{
    background: $bgcolor$;
}
$uicss.met-download h1 {
    margin: 0px;
    font-size: 32px;
    margin-bottom: 5px;
    font-weight: 300;
    color:$firstcolor$;
}
$uicss.met-download h1{
    color:$titlecolor$;
}
$uicss.met-download $uicss.met-download-body {
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    -o-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    -ms-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
$uicss.met-download .details-title, $uicss.met-download .download-paralist {
    padding: 30px;
    background: #ffffff;
}
$uicss.met-download .details-title {
    padding-bottom: 0px;
}
.met-editor {
    padding: 30px;
    background: #ffffff;
    width: 100%;
    max-width: 100%;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.8;
    color: #222;
    word-wrap: break-word;
}
$uicss.met-download .info {
    padding-bottom: 20px;
    font-size: 16px;
    color: $secondcolor$;color:$desccolor$;
}
.border-bottom1{border-bottom: 1px solid #f0f2f5;}
$uicss.met-download .download-paralist .btn{border-color:$thirdcolor$;color:$thirdcolor$;border-color:$hovercolor$;color:$hovercolor$;}
$uicss.met-download .download-paralist .btn:hover{color: #fff;background-color: $thirdcolor$;background-color: $hovercolor$;border-color: $thirdcolor$;border-color:$hovercolor$;}
.tag{font-size:14px;color:#666;padding:0 30px 30px;background:#fff;display: block;text-align:left;}
.tag a{color:#666;padding:5px;}
.tag a:hover{color:$thirdcolor$;color:$hovercolor$;}