/* 产品列表页 */
$uicss.met-product{
  background: $bgcolor$;
}
$uicss .btn-outline.btn-primary{
    color: $thirdcolor$;
    border-color: $thirdcolor$;
    color: $hovercolor$;
    border-color: $hovercolor$;
}
$uicss .btn-outline.btn-primary.active, .btn-outline.btn-primary:active, .btn-outline.btn-primary:focus, .btn-outline.btn-primary:hover, .open>.btn-outline.btn-primary.dropdown-toggle{
  background-color: $thirdcolor$;color:#fff !important;background-color: $hovercolor$;
}
$uicss .widget-actions i{color: $thirdcolor$;color: $hovercolor$;}
$uicss.met-product .container {
  padding: 30px 0;
}
$uicss.met-product .container-fluid {
  padding: 30px;
}
$uicss.met-product .met-grid li {
  clear: none;
}
$uicss.met-product .widget,
$uicss.met-product .widget .widget-header,
$uicss.met-product .widget-body {
  border-radius: 0 !important;
}
$uicss.met-product .widget-body p{color:$secondcolor$;color:$desccolor$;}
$uicss.met-product .widget-body .widget-title{color:$firstcolor$;color:$titlecolor$;}
$uicss.met-product .widget-shadow{
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}
$uicss.met-product .widget-body .card-text{color:$firstcolor$;color:$listattr_color$;}
$uicss.met-product .widget-body{
  position: relative;
  padding:10px 25px 30px;
}
$uicss.met-product .widget-metas {
  word-wrap: break-word;
}
$uicss.met-product .widget-body-footer {
  margin-top: 15px;
}
$uicss.met-product .widget-body-footer a{
  color: $thirdcolor$;color: $hovercolor$;
}
$uicss.met-product.type-1 h4 {
  margin: 0;
  font-size: 16px;
  text-align: center;
  color:$firstcoloe$;
}
$uicss.met-product.type-1 h4{
  color: $titlecolor$;
}
$uicss.met-product.type-1 .met-product-list li h4 a {
  color: $firstcolor$;
}
$uicss.met-product.type-1 .met-product-list li h4 a{
  color: $titlecolor$;
}
$uicss.met-product .widget-shadow{
  background:#fff;
}
$uicss.met-product.type-1 h4 a:hover {
  color: $thirdcolor$;color: $hovercolor$;
}
$uicss.met-product.type-2 .container-fluid {
  padding: 15px;
}
$uicss.met-product.type-2 h4 {
  margin: 0;
  font-weight: 300;
}
$uicss.met-product.type-2 .overlay-panel{color: $firstcolor$;color: $titlecolor$;}
@media (max-width: 767px) {
  $uicss.met-product.type-2 .met-grid {
    padding-bottom: 10px;
  }
  $uicss.met-product.type-2 .met-grid li {
    background: #f2f2f2;
  }
}
@media (max-width: 767px) {
  $uicss.met-product .container,
  $uicss.met-product .container-fluid {
    padding: 10px !important;
  }
  $uicss.met-product.type-1 .met-grid,
  $uicss.met-product.type-3 .met-grid {
    margin: 0 -10px 0 0;
  }
  $uicss.met-product.type-1 .met-grid li,
  $uicss.met-product.type-3 .met-grid li {
    margin-bottom: 10px;
    padding: 0 10px 0 0;
  }
  $uicss.met-product .widget-body {
    padding: 15px;
  }
  $uicss.met-product .widget-body .widget-body-footer {
    margin-top: 10px;
  }
}
/* 瀑布流 */
.no-js .grid li,
.no-cssanimations .met-grid li {
  opacity: 1;
  -moz-opacity: 1;
  filter: alpha(opacity=100);
}
.met-grid li {
  opacity: 0;
  -moz-opacity: 0;
  filter: alpha(opacity=0);
}
.met-grid li.shown {
  opacity: 1;
  -moz-opacity: 1;
  filter: alpha(opacity=100);
}
.met-grid li.animate {
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
  -webkit-animation: moveUp 0.65s ease forwards;
  animation: moveUp 0.65s ease forwards;
}
@-webkit-keyframes moveUp {
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
    -moz-opacity: 1;
    filter: alpha(opacity=100);
  }
}
@keyframes moveUp {
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
    -moz-opacity: 1;
    filter: alpha(opacity=100);
  }
}
/*栏目标志等于1*/
$uicss {
  min-height: 200px;
}
$uicss section {
  height: 600px;
  padding: 50px 0;
  position: relative;
  background: $bodybgcolor$;
}
$uicss section:nth-child(odd) {
  background: $oddbgcolor$;
}
$uicss section:nth-child(even) {
  background: $evenbgcolor$;
}
$uicss section .container {
  height: 100%;
}
$uicss section .container>div,$uicss section .desc {
  height: 100%;
}
$uicss section .desc>div {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
$uicss section .desc>div h4 {
  font-size: 36px;
  color: $firstcolor$;
  color: $titlecolor$;
  margin-top: 0;
}
$uicss section .desc>div p {
  color: $secondcolor$;
  color: $desccolor$;
  font-size: 14px;
}
$uicss section .img {
  height: 100%;
}
$uicss section .img img {
  max-height: 100%;
  max-width: 100%;
}
/*栏目标识等于22*/
$uicss .pricing {
  text-align: center;
}
$uicss .pricing .container {
  width: 100%;
}
$uicss .pricing h1 {
  font-size: 28px;
  color: $firstcolor$;
  color: $titlecolor$;
  font-weight: normal;
  margin-bottom: 12px;
}
$uicss .pricing h3 {
  font-size: 16px;
  color: $firstcolor$;
  color: $titlecolor$;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 60px;
}
$uicss .pricing .pricing-column {
  position: relative;
  display: inline-block;
  width: 270px;
  border: 1px solid #CDE6FF;
  text-align: center;
  margin-right: 3.2857rem;
}
$uicss .pricing .pricing-column:last-child {
  margin-right: 0;
}
$uicss .pricing .pricing-column .package-features {
  padding: 0;
  list-style: none;
  margin-bottom: 0;
}
$uicss .pricing .pricing-column .package-title {
  background:  #FAFCFF;
  color: #fff;
  font-size: 24px;
  height: 145px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
$uicss .pricing .pricing-column .package-title h2 {
  margin: 0;
  margin-bottom: 10px;
  color: #fff;
  font-size: 24px;
}
$uicss .pricing .pricing-column .package-title p {
  margin: 0;
  color: #fff;
  font-size: 14px;
}
$uicss .pricing .pricing-column:nth-child(1) .package-title {
  border-bottom: 1px solid #CDE6FF;
}
$uicss .pricing .pricing-column:nth-child(1) .package-title h2 {
  color: #3D3D3D;
}
$uicss .pricing .pricing-column:nth-child(1) .package-title p {
  color: #8C8C8C;
}
$uicss .pricing .pricing-column:nth-child(2) .package-title {
  background: #6DB0F3;
}
$uicss .pricing .pricing-column:nth-child(3) .package-title {
  background: #5698DB;
}
$uicss .pricing .pricing-column:nth-child(4) .package-title {
  background-image: linear-gradient(90deg, #0E6DCE 2%, #5698DB 99%);
}
$uicss .pricing .pricing-column .package-value {
  height: 116px;
  line-height: 116px;
  border-bottom: 1px solid #CDE6FF;
}
$uicss .pricing .pricing-column .package-value .package-currency {
  font-size: 48px;
}
$uicss .pricing .pricing-column .package-value .package-currency sub {
  font-size: 14px;
  color: rgba(0,0,0,0.60);
  position: relative;
  bottom: 2px;
}
$uicss .pricing .pricing-column .package-value .package-price {
  font-size: 48px;
  font-weight: 600;
}
$uicss .pricing .pricing-column .package-value .package-time {
  font-size: 16px;
}
$uicss .pricing .pricing-column ul.package-features {
  padding: 30px 0;
}
$uicss .pricing .pricing-column ul.package-features li {
  height: 30px;
  width: 100%;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 14px;
  line-height: 30px;
  background: #fff;
  color: #666666;
}
$uicss .pricing .pricing-column ul.package-features li span {
  color: #057EFF;
}
.pricing .pricing-column .signup {
  padding: 20px 0;
  background: #F9F9F9;
}
$uicss .pricing .pricing-column .signup .white {
  background: #eaeaea;
  color: #686868 !important;
  border-radius: 3px;
}
$uicss .pricing .pricing-column .signup .white:hover {
  color: #686868;
  background: #d2d2d2;
}
@media (max-width: 1200px) {
  $uicss .pricing .pricing-column {
    width: 235px;
  }
}
@media only screen and (max-width: 1023px) and (min-width: 768px) {
  $uicss .pricing .pricing-column {
    width: 180px;
  }
  $uicss .pricing .pricing-column ul.package-features li {
    font-size: 12px;
  }
}
@media only screen and (max-width: 767px) and (min-width: 480px) {
  $uicss .pricing .pricing-column {
    width: 460px;
    margin-bottom: 20px;
    border-right: 1px solid #dbdbdb;
  }
}
@media only screen and (max-width: 479px) and (min-width: 320px) {
  $uicss .pricing .pricing-column {
    width: 300px;
    margin-bottom: 20px;
    border-right: 1px solid #dbdbdb;
  }
}
@media only screen and (max-width: 1023px) and (min-width: 768px) {
  $uicss .pricing .container {
    width: 98%;
  }
}
@media (max-width:767px){
    $uicss section .container,$uicss section .container>div,$uicss section .desc{height:auto;}
    $uicss section .desc>div{position:static;transform: translate(0, 0);text-align: center;}
    $uicss section:nth-child(odd) .img{margin-top:10px;}
    $uicss section:nth-child(even) .img{margin-bottom:10px;}
    $uicss section .img img{max-width:90%;}
}
/*分页*/
.met_pager { margin-top: 20px; text-align: center; }
.met_pager * { display: inline-block; }
.met_pager a { padding: 9px 15px; border: 1px solid #e4eaec; border-right: none; background: #fff; text-align: center; color: #76838f; }
.met_pager a:hover { background: #f5f5f5; text-decoration: none; }
.met_pager a.NextA { border-right: 1px solid #e4eaec; }
.met_pager .PreSpan,
.met_pager .NextSpan { padding: 9px 15px; border: 1px solid #e4eaec; background: #fff; color: #ccd5db; cursor: default; }
.met_pager .firstPage,
.met_pager .lastPage { min-width: 40px; height: 28px; line-height: 28px; }
.met_pager a.Ahover { border-color: $thirdcolor$; background: $thirdcolor$;border-color: $hovercolor$; background: $hovercolor$; color: #fff; cursor: default; }
.met_pager a.Ahover:hover { border-color: $thirdcolor$; background: $thirdcolor$;border-color: $hovercolor$; background: $hovercolor$; color: #fff; }
.met_pager a { text-decoration: none; }
.met_pager a:active,
.met_pager a:focus,
.met_pager a:hover { text-decoration: none; }
.met_pager .PageText { display: none; margin-left: 10px; color: #aaa; }
.met_pager input { display: none; }
.met_pager .firstPage,
.met_pager .lastPage { height: auto; line-height: inherit; }
.pager li { width: 49%; display: inline-block; }
.pager li a { max-width: 100%; }
$uicss #met-pager-btn{border-color: $thirdcolor$;background-color: $thirdcolor$;border-color: $hovercolor$;background-color: $hovercolor$;}