@charset "utf-8";
/* 内页子栏目导航 */
$uicss {
  background-color: $bodybgcolor$;
  border-color: $bordercolor$;
}
$uicss {
  background-color: $bgcolor$;
}
$uicss .product-search .form-group {
  max-width: 500px;
  margin: 0 auto 10px;
}
$uicss $uicss-ul > li a {
  color: #97ACC1;
}
$uicss $uicss-ul > li a:hover, $uicss $uicss-ul > li a.active {
  color: $thirdcolor$;
  color: $hovercolor$;
}
$uicss $uicss-ul > li a.active {
  border: 1px solid #e0e0e0;
  border-radius: 31px;
}
$uicss-ul {
  font-size: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
$uicss-ul.left {
  justify-content: left;
}

@media (max-width:767px) {
    $uicss-ul {
    white-space: nowrap;
  }
  $uicss .subcolumn-nav {
    height: 54px;
  }
}
$uicss-ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  margin: 0 15px;
}
$uicss-ul.left li:first-child {
  margin-left: 0;
}
$uicss-ul li > a {
  padding: 5px 24px;
  font-size: 20px;
}
$uicss-ul li a {
  color: $firstcolor$;
}
$uicss-ul li a {
  color: $titlecolor$;
}
$uicss-ul li .sub-list {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -23px;
  display: flex;
  justify-content: center;
  align-items: center;
}
$uicss-ul li .sub-list a {
  font-size: 14px;
  color: #97ACC1;
  padding: 3px 16px;
}
$uicss-ul li .sub-list div:nth-child(n+2) {
  margin-left: 34px;
}
$uicss .product-search .form-control:focus {
  border-color: $thirdcolor$;
  color: $hovercolor$;
}