$uicss {
  background-color: $bgcolor$;
  position: relative;
  padding-top: 56px;
  padding-bottom: 60px;
}
$uicss .container {
  padding: 0 75px;
}
$uicss .container h2 {
  margin: 0;
  margin-bottom: 20px;
  font-size: 18px;
  color: #333333;
  letter-spacing: 2.57px;
  cursor: default;
}
$uicss .container ul {
  display: flex;
  flex-wrap: wrap;
}
$uicss .container ul li:nth-child(n+5) {
  margin-top: 18px;
}
$uicss .container ul li a {
  font-size: 13px;
  color: #666666;
  transition: color 0.2s ease-out;
}
$uicss .container ul li a:hover {
  color: $thirdcolor$;
  color: $hovercolor$;
}
@media (max-width:767px) {
  $uicss .container {
    text-align: left;
  }
}