@charset "utf-8";
/* 详情页-通用 */
$uicss.met-shownews {
    background: $bgcolor$;
}
$uicss.met-shownews .met-shownews-body {
    background: #fff;
    padding: 96px 20px 18px;
}
$uicss .details-title h1 {
    font-size: 36px;
    letter-spacing: 3.2px;
    color: $firstcolor$;
}
$uicss .details-title h1 {
    color: $titlecolor$;
}
$uicss .details-title .info {
    font-size: 16px;
    color: #a3afb7;
}
$uicss .details-title .info {
    color: $infocolor$;
}
$uicss .details-title .info span {
    padding-right: 10px;
}

@media (max-width:767px) {
    $uicss .details-title {
        padding-bottom: 10px;
    }
    $uicss .details-title h1 {
        font-size: 24px;
    }
    $uicss .details-title .info {
        font-size: 14px;
    }
}

@media (max-width:349px) {
    $uicss .details-title h1 {
        font-size: 20px;
    }
}
$uicss .met-editor {
    padding: 75px 0;
    width: 100%;
    max-width: 100%;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.8;
    color: #222;
    word-wrap: break-word;
}

.tag {
    font-size: 14px;
    color: #666;
    padding: 0 30px 30px;
}

.tag a {
    color: #666;
    padding: 5px;
}

.tag a:hover {
    color: $thirdcolor$;
    color: $hovercolor$;
}

.met-page {
    padding-top: 0 !important;
}

.met-page a:hover {
    color: $thirdcolor$ !important;
    color: $hovercolor$ !important;
}

.met-page .pagination li a {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}